# IDE conf and debugger
.vscode

# Environment
.env
.env.*
!.env.example

# Binaries
/bin/**/*
!/bin/**/*.md

# Example images
/examples/**/*.png
/examples/**/*.jpg
/examples/**/*.jpeg
